*{
	font-family: Arial;
}
a{
	text-decoration:none;
}
body{
	margin:0px;
}
.navbar{
	list-style-type: none;
	margin: 0;
	padding: 0;
	display:flex;
}
.items-container{
	width:72%;
	display:flex;
}
.navbar-item{
	padding:10px;
}
.navbar-item-selected{
	padding:10px;
	background-color:#e0e8f0;
}
.navbar-item-text{
	font-size:14px;
	color:#586870;
}
.logo-container{
	padding:6px;
	width:10%;
}
.logo{
	background-color:#8090a0;
	padding:2px;
	border-radius:5px;
	text-align:center;
}
.logo-text{
	color:#c8d0d8;
	font-size:12px;
}
.search-container{
	width:18%;
	display:flex;
}
.search{
	margin:3px;
	border-radius:5px;
	padding:2px;
}
.search-button{
	background-color:#f8fcf8;
	border:none;
}
.fa{
	color:#9098a0;
	padding:5px;
	margin: 5px;
}